:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    246,231,231;
--color-neutral-300:    225,176,175;
--color-neutral-400:    204,121,119;
--color-neutral-500:    180,70,67;
--color-neutral-600:    150,58,56;
--color-neutral-700:    121,47,45;
--color-neutral-800:    91,35,34;
--color-neutral-900:    61,24,23;
--color-primary-50:     230,226,224;
--color-primary-100:    196,187,182;
--color-primary-200:    162,148,139;
--color-primary-300:    125,109,100;
--color-primary-400:    82,72,66;
--color-primary-500:    40,35,32;
--color-primary-600:    17,15,14;
--color-primary-700:    0,0,0;
--color-primary-800:    0,0,0;
--color-primary-900:    0,0,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    255,255,255;
--color-secondary-500:    243,239,236;
--color-secondary-600:    227,218,211;
--color-secondary-700:    211,197,186;
--color-secondary-800:    196,176,161;
--color-secondary-900:    180,155,136;
}